@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbe8d8;
  --foreground: #0a7029;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Ingore for now */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}
